<nav id="navbar-example2" class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container-md">
    <a class="navbar-brand" href="index.html">
      <img src="src/imgs/logo.png">
    </a>
    <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navLink">
          <li onclick="closeMenu();" class="nav-item">
              <a class="nav-link active" aria-current="page" href="#top">Inicio</a>
          </li>
          <li onclick="closeMenu();" class="nav-item" id="navLink">
              <a class="nav-link" href="#about">Conocenos</a>
          </li>
          <li onclick="closeMenu();" class="nav-item" id="navLink">
              <a class="nav-link"  href="#services">Servicios</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#">Cat&aacute;logo</a>
          </li> -->
          <li onclick="closeMenu();" class="nav-item" id="navLink">
            <a class="nav-link" href="#certifications">Certificaciones</a>
            </li>
          <li onclick="closeMenu();" class="nav-item" id="navLink">
              <a class="nav-link" href="#contact">Contacto</a>
          </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="src/media/video.mp4" type="video/mp4">
  </video>

  <div class="container containerDivisor" id="about">
  </div>

<div class="container" >
  <div class="row">
    <div class="col-xxl-7 col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="topSpace">Bienvenido a Dalpher</h3>
      <p class="text-justify">Somos especialistas en la fabricaci&oacute;n de Manejos de Botella, 
        adem&aacute;s de la fabricaci&oacute;n de innumerables refacciones para la m&aacute;quina que usted requiera, 
        en nyl&oacute;n, poliuretano, polietileno, tefl&oacute;n, acero inoxidable y pl&aacute;sticos de ingenier&iacute;a entre otros, 
        para la industria embotelladora, cervecera y alimenticia, asegur&aacute;ndole que nuestros productos son 
        elaborados con los m&aacute;s estrictos niveles de calidad y tecnolog&iacute;a, adem&aacute;s de ser fabricados con materiales 
        100% de importaci&oacute;n, distingui&eacute;ndonos por ofrecer y dar el servicio m&aacute;s eficiente.</p>
        
        <a class="btn" href="#!servCat" role="button">Ver Servicios</a>
    </div>

    <a onclick="topFunction()" class="button" id="topBtn" title="Regresar a arriba">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
      </svg>
    </a> 

    <div class="col-xxl-5 col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
        <!--
          <div class="carousel-indicators">        
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>        
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          -->
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="6000">
              <img src="src/imgs/s1.jpg" class="d-block w-100 img-fluid" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h1>DALPHER</h1>
                <p>MANUFACTURAS</p>
              </div>
            </div>
          
            <div class="carousel-item" data-bs-interval="6000">
              <img src="src/imgs/s2.jpg" class="d-block w-100 img-fluid" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>LA MAS ALTA CALIDAD</h5>
                <p>PRODUCCION DE CLASE MUNDIAL</p>
              </div>
            </div>
  
            <div class="carousel-item" data-bs-interval="6000">
              <img src="src/imgs/s3.jpg" class="d-block w-100 img-fluid" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>EXTENSA VARIEDAD DE PRODUCTOS</h5>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
      </div>
      
    </div>
  </div>
  <div class="row" class="text-center">
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      
      <span class="subTitle">
        <img src="src/imgs/road.png">
        <p>Misi&oacute;n</p>
      </span>
      <p class="text-justify">Satisfacer las necesidades de la industria embotelladora, cervecera, alimenticia,  
        y de servicio en general en la fabricaci&oacute;n e instalaci&oacute;n de manejos de botella y refacciones a trav&eacute;s de la 
        planeaci&oacute;n de soluciones y desarrollo de ingenier&iacute;a</p>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <span class="subTitle">
      <img src="src/imgs/flag.png">
      <p>Visi&oacute;n</p>
    </span>
      <p class="text-justify">Colocar a Dalpher Manufacturas 
        como la empresa l&iacute;der en la fabricaci&oacute;n de manejos de botella y refacciones industriales 
        a trav&eacute;s del logro de altos est&aacute;ndares de calidad y servicio, logrando un incremneto en ventas que beneficie 
        a los miembros de la organizaci&oacute;n.</p>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <span class="subTitle">
        <img src="src/imgs/shield.png">
      <p>Pol&iacute;ticas de Calidad</p>
    </span>
      <p class="text-justify">La pol&iacute;tica de calidad de Dalpher es fabricar productos de alta calidad con el objetivo
         primordial de satisfacer las necesidades de nuestros clientes, contando con ello con personal 
         altamente calificado.</p>
    </div>
  </div>
</div>

<div class="container-fluid bannerBck" >
  <div class="container">
    <div class="column text-center">
      <h3>Filosofia Dalpher</h3>
      <p class="textBanner">Estamos convencidos de que nuestros clientes son la raz&oacute;n de ser de nuestra existencia, 
        por lo tanto nos encontramos comprometidos con ellos en proporcionarles productos que cubran 
        sus necesidades de producci&oacute;n en tiempo, a un precio justo y cumpliendo con los m&aacute;s altos est&aacute;ndares de calidad. 
      </p> 
      <a ahref="#contact" type="button" class="btn">Contactanos</a>
    </div>
  </div>
</div>
<div class="container containerDivisor" id="services">
</div>
<div class="container" >
  <div class="row">
    <div class="col-12">
      <h3 class="topSpace">Servicios y Manufactura</h3>
      <p class="text-left">
        Contamos con m&aacute;quinas tanto  convencionales, 
        as&iacute; como con los m&aacute;s modernos Centros de Maquinado de Control Num&eacute;rico (CNC) 
        habilitados para ser operados por los programas de CAD-CAM m&aacute;s confiables y actuales que hay en la industria; 
        todo con el &uacute;nico prop&oacute;sito de  brindarle soluciones efectivas y pr&aacute;cticas a los precios m&aacute;s competitivos del 
        mercado, garantiz&aacute;ndole precisi&oacute;n, calidad y rapidez en la fabricaci&oacute;n de todas nuestras piezas.</p>
        <!-- <button type="button" class="btn btn-outline-success">Ver Servicios</button> -->
    </div>
  </div>
  <div class="row" >
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="card text-justify">
        <div class="card-body ">
          
          <h5 class="card-title subTitleServices">
            <img src="src/imgs/gear.png">
            Moldeo de Poliuretano
          </h5>
          <p class="card-text">
            Somos fabricantes de refacciones en diferentes durezas, con las propiedades qu&iacute;micas y 
            colores requeridos para su empresa.
            <p></p>
          </p>
          <a class="btn" href="#!servCat" role="button">Ver m&aacute;s</a>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="card text-justify">
        <div class="card-body">
          <h5 class="card-title subTitleServices">
            <img src="src/imgs/gear.png">
            Corte con Agua
          </h5>
          <p class="card-text">
            Siendo los pioneros en M&eacute;xico, ofrecemos este servicio con maquinaria actualizada, 
            la cual cuenta con tecnolog&iacute;a de punta capaz de cortar cualquier material en un espesor de hasta 6"
          </p>
          <a class="btn" href="#!servCat#top" role="button">Ver m&aacute;s</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="card text-justify">
        <div class="card-body ">
          <h5 class="card-title subTitleServices">
            <img src="src/imgs/gear.png">
            Manejo de Botella
          </h5>
          <p class="card-text">
            Desarrollamos formatos para llenadoras, taponadoras, empacadoras, 
            desempacadoras, capsuladores y descapsuladores.
          </p>
          <a class="btn" href="#!servCat" role="button">Ver m&aacute;s</a>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="card text-justufy">
        <div class="card-body ">
          <h5 class="card-title subTitleServices">
            <img src="src/imgs/gear.png">
            Refacciones Industriales 
          </h5>
          <p class="card-text">
            Fabricamos un sinf&iacute;n de refacciones para su maquinar&iacute;a, 
            Articulaciones, Amortiguadores, Espreas entre otras refacciones m&aacute;s
          </p>
          <a class="btn" href="#!servCat#top" role="button">Ver m&aacute;s</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-12">
      <div class="card text-justify">
        <div class="card-body ">
          <h5 class="card-title subTitleServices">
            <img src="src/imgs/gear.png">
            Plasticos de Ingenier&iacute;a 
          </h5>
          <p class="card-text">
            Contamos con una excelente opci&oacute;n de abastecimiento de pl&aacute;sticos de ingenier&iacute;a, 
            ofreci&eacute;ndole materias primas de importaci&oacute;n que le garantizan alta calidad y confianza. 
          </p>
          <a class="btn" href="#!servCat#top" role="button">Ver m&aacute;s</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container containerDivisor" id="certifications">
</div>

<div class="container-fluid bannerBck">
  <div class="container">
    <div class="column text-center">
      <h3 class="topSpace">Certificaciones Dalpher</h3>
      <p class="textBanner">Somos una empresa mexicana con m&aacute;s de 30 a&ntilde;os en la industria manufacturera, 
        debido a la acertada combinaci&oacute;n de experiencia, calidad y tecnolog&iacute;a; hemos sido a lo largo de los a&ntilde;os 
        sin&oacute;nimo de CALIDAD Y CONFIANZA.
      </p> 
      <a type="button" class="btn">Certificaciones y Recomendaciones</a>
      <!-- Modal -->
      <div class="modal fade" id="modalCertification" tabindex="-1" aria-labelledby="modalCertification" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCertification">Recomendaciones</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img class="card-img-top image" src="src/imgs/{{itemService.srcimg}}.jpg" alt="{{x.srcimg}}" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container containerDivisor" id="contact">
</div>
<div class="container " ng-controller="mailCtrl">
  <div class="row">
    <div class="col-xxl-7 col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="topSpace">Contactanos</h3>
      <p class=" textBanner">La comunicacion con nuestros clientes es escencial para el logro y 
        satisfaccion de sus necesidades.
      </p> 
      <!-- action="mailto:ventas@dalpher.com" -->
      <form id="formContact" name="myForm"  novalidate>
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" id="floatingWork1" name="nameUserContact" ng-model="user.nameUserCntact" required>
          <label for="floatingWork" >*Nombre</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="email" class="form-control" id="floatingWork2" name="mailUserContact" ng-model="user.mailUserContact" required>
          <label for="floatingWork" >*Correo Electronico</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" id="floatingWork3" name="telUserContact" ng-model="user.telUserContact" required>
          <label for="floatingWork" >*T&eacute;lefono</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" id="floatingWork4" name="empUserContact" ng-model="user.empUserContact" required>
          <label for="floatingWork" >*Empresa</label>
        </div>
          <div class="mb-3 form-">
            <textarea class="form-control" placeholder="*Comentarios" id="comments" style="height: 100px"  name="bodyMsgContact" ng-model="user.bodyMsgContact" required></textarea>
            <!-- <label for="comments">*Comentarios.</label> -->
          </div>
          <div id="emailHelp" class="form-text">Los campos con (*) son obliatorios.</div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label"  id="linkPrivacy" for="exampleCheck1">Acepto terminos de <a href="src/pdfs/avisoPrivacidad.pdf" target="_blank">privacidad</a></label>
        </div>
        <div class=" form-group">
          <div class="row">
            <div class="col-2 ">
              <!-- ng-click="sendMail(user)" -->
              <button id="go" ng-disabled="myForm.$invalid" ng-click="sendMail(user)"  class="btn btn-primary btn-lg btn-block">Enviar</button>
            </div>
            <div class="col-10">
              <div class="alert alert-danger" role="alert" ng-show="myForm.nameUserContact.$dirty && myForm.nameUserContact.$invalid">
                <span  ng-show="myForm.nameUserContact.$error.required">Ingrese su nombre.</span>
              </div>
              <div class="alert alert-danger" role="alert" ng-show="myForm.telUserContact.$dirty && myForm.telUserContact.$invalid">
                <span ng-show="myForm.telUserContact.$error.required">Ingrese su número teléfonico.</span>
              </div>
              <div class="alert alert-danger" role="alert" ng-show="myForm.mailUserContact.$dirty && myForm.mailUserContact.$invalid">
                <span ng-show="myForm.mailUserContact.$error.required">Ingrese una dirección de correo.</span>
                <span ng-show="myForm.mailUserContact.$error.email">Ingrese una dirección de correo valida.</span>
              </div>
              <div class="alert alert-danger" role="alert" ng-show="myForm.bodyMsgContact.$dirty && myForm.bodyMsgContact.$invalid">
                <span ng-show="myForm.bodyMsgContact.$error.required">Escriba su mensaje.</span>
              </div>
              <div id="para" class="alert alert-success" role="success" ng-show="myForm.$submitted" >
                <span >Gracias su mensaje se envio exitosamente</span>
              </div>
              <!-- <div class="alert alert-danger text-center" >
                <button type="button" class="close" ng-click="clearMsg()"><span aria-hidden="true">&times;</span></button>
                {{ errorMsg }}
              </div> -->
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xxl-5 col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <iframe id="thyFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7528.363454494251!2d-98.98628332393422!3d19.36128239769933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e28f30e45595%3A0x1eced5db1feb2cb9!2sDalpher%20manufacturas%20sa%20de%20cv!5e0!3m2!1ses-419!2smx!4v1645123188340!5m2!1ses-419!2smx" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>