
/* Dalpher Estilos */
/* 2022 Elaborado por: Daniel Garcia */
/* Package CSS.styles.css */
/* Version 1.0 */
/* Copyright Dalpher */


/* Dalpher Estilos */
/* 2022 Editado por: Miguel Bojorge */
/* Package CSS.styles.css */
/* Version 1.0 */
/* Copyright Dalpher */


/* Estilos Generales */


/*Se importa fuente MONTSERRAT*/
@import url('../src/fonts/Montserrat/static/Montserrat-Regular.ttf');


body{
    letter-spacing: 2px;
    background: rgba(250, 250, 250, 0.877);
}

p{
    font-family: "Montserrat Regular", "Monserrat",Sans-serif;
    font-weight: 200;
}

/*Cambia el color predefinido de los elementos del menu(navbar)*/
.navbar{
    color: white;
    font-style: 200;
    background-color: #203649;
}

.navActive{
    border:solid 0px 0px 1px 0px #e19400
}

/*los links tendran el estilo de acuerdo al tema del sitio*/
a{
    color: #203649;
    text-decoration: none;
}

/*crea un efecto tipo "rollOver" que cambia el invierte el color del elemento cuando el cursor se situa sobre él*/
a:hover{
    color: white;
    background-color: #203649;
}

.container a{
    font-weight: 600;
}

.container h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

/*Clase universal que declara colores indicados para los botones*/
.btn {
    border-radius: 10px 0px 10px 0px;
    color: white;
    background-color: hsl(208, 39%, 21%);
    border: solid 1px #203649;
}

.btn:hover{
    color: #203649;
    background-color: white;
    border: solid 1px #203649;
}

/*Usado para boto "hacia arriba"*/
#topBtn{
    width: 40px;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    padding: 4px;
    border-radius: 4px;
}

#topBtn svg{
    width: 32px;
    height: 32px;
    color: aliceblue;
    background-color: #203649;
    border: 6px solid #203649;
    border-radius: 5px;
}

#topBtn:hover {
    background-color: #203649;
  }

/*Clase que declara colores claros en un boton cuando se halle en fondo oscuro*/

    /*Selector para video en carousel ajustando un tamaño idóneo para encajar con el resto de elementos*/
#thyVideo{
    width:100%;
    height: 450px;
    border: 0px;
    margin: 0px;
    }

/*Esta clase declara que los ícones de redes sociales tengan un color blanco, un tamaño de 24px y un margen de 5px 
entre ellos con excepción del margen izquierdo */
.socialIcon{
    color: white;
    width: 24px;
    height: 24px;
    margin: 5px 5px 5px 0px;
}

/*Cambia el color de los inconos de redes sociales a amarillo cuando el cursor se situa sobre ellos*/
.socialIcon :hover{
    color: yellow;
}

/* Declara una margen en de 50px en cada sección para facilitar su legibilidad y eitar que el menú se sobreponga 
en su contenido*/
.topSpace{
    margin-top: 20px;
}

/*Esta clase no puede ser convertida a formato camel ya que viene predefinida por el CDN de bootstrap*/
.carousel-caption{
    position: absolute;
    top: 35%;
    text-align: center;
}


.carousel-caption h1, .carousel-caption h2, .carousel-caption h3, .carousel-caption h4, .carousel-caption h5, .carousel-caption p{
    color: white;
    text-shadow: 0px 1px 5px black, 1px 0px 10px black, -1px 0px 10px black, 0px -1px 10px black;
}

.row{
    padding: 15px;
}

.container{
    padding: 5px;
}

/* Div que se ocupa para hacer el ancho scrollspy */
.containerDivisor{
    padding: 15px;
}

.container-fluid{
    padding: 25px;
}

h3{
    font-size: 40px;
    border-left:4px solid #353f52;
    padding-left: 10px;
}

/* Estilos por Seccion */
/* ******************* */

/* Slider / Carousel */
.carousel{
    margin-top: 56px;;
}

.imgBanne{
    margin-top: 60px;
}

/*Indetificador usado para añadir padding a los elementos requeridos con el fin de mejorar su lectura y visibilidad*/
#paddingTop{    
    padding: 30px 10px 20px 10px;
}

.subTitle {
    width: 100%;
    font-size: 25px;
    color: #203649;
}

/* Declara que elementos entro de la clase subTitle se alinien en bloque (uno sobre otro) y de manera centrada*/
.subTitle svg, .subTitle p{
    text-align: center;
    display: block;
}

/* Declara que los elementos svg dentro de la clase subTitle se centren exactamente dentro del  contenedor*/
.subTitle svg{
    margin-left: auto;
    margin-right: auto;
}

.subTitleServices{
    color: #203649;
}

.card{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.171);
}

/*Se editó esta clase para coincidir con el color solicitado*/
.bannerBck{
    background-color: #e19400;
    color: aliceblue;
}

/*Se agrega esta clase para que el color de borde izquierdo concida con el de de h3*/
.bannerBck h3{
    border-left:4px solid aliceblue;
}

.bannerBottom{
    background-color: #203649;
    color: aliceblue;
}

.textBanner{
    font-size: 20px;
}

iframe{
    margin-top: 60px;
}

/* MEDIA QUERIES SECTION */
/*  */
/*  */
/*  */
/*  */
/*  */

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (max-width: 1400px) {


    h3{
        font-size: 27px;
    }

    .containerDivisor{
        padding: 10px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {


    h3{
        font-size: 27px;
    }

    .containerDivisor{
        padding: 10px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {


    h3{
        font-size: 27px;
    }

    .containerDivisor{
        padding: 10px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {

    /* Declara que los elementos dentro de esta clase se alinien de modo horizontal en
    vista mobile en 768px*/
    .subTitle svg, .subTitle p{
        text-align: left;
        display: inline;
    }

    .imgBanne{
        margin-top: 20px;
    }

    h3{
        font-size: 27px;
    }

    .containerDivisor{
        padding: 10px;
    }

    /* Declara que botones ocupen el 100% de espacio en modo mobile de 768px*/
    .btn, .btnLight {
        width: 100%;
    }


    /* Clase adicionada al Iframe utilizada para Google Maps utilizando el 100% de ancho, 
    altura de 550px sin borde y un margen superior de 30px en vista mobile de 768px*/
    .thyFrame{
        width: 100%; 
        height: 550px;
        border: 0px;
        margin: 30px 0px 0px 0px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {

    /* Declara que los elementos dentro de esta clase se alinien de modo horizontal en vista mobile en 576px*/
    .subTitle svg, .subTitle p{
        text-align: left;
        display: inline;
    }
    
    .imgBanne{
        margin-top: 20px;
    }

    .containerDivisor{
        padding: 10px;
    }

    /* Declara que botones ocupen el 100% de espacio en modo mobile de 576px*/
    .btn, .btnLight {
        width: 100%;
    }

    /* Clase adicionada al Iframe utilizada para Google Maps utilizando el 100% de ancho, altura de 550px sin borde 
    y un margen superior de 30px en vista mobile de 576px*/
    .thyFrame{
        width: 100%; 
        height: 550px;
        border: 0px;
        margin: 30px 0px 0px 0px;
    }
}