
/* Dalpher Estilos */
/* 2022 Elaborado por: Daniel Garcia */
/* Package CSS.styles.css */
/* Version 1.0 */
/* Copyright Dalpher */

/* Estilos Generales */
body{
    letter-spacing: 2px;
    background: rgba(250, 250, 250, 0.877);
}


.socialIcon{
    color: white;
    width: 24px;
    height: 24px;
    margin: 5px 5px 5px 0px;
}

.socialIcon :hover{
    color: yellow;
}

.topSpace{
    margin-top: 50px;
}

.carousel-caption{
    position: absolute;
    top: 35%;
    text-align: center;
}

.carousel-caption h1, .carousel-caption h2, .carousel-caption h3, .carousel-caption h4, .carousel-caption h5, .carousel-caption p{
    color: white;
    text-shadow: 0px 1px 5px black, 1px 0px 10px black, -1px 0px 10px black, 0px -1px 10px black;
}

.row{
    padding: 15px;
}

.container{
    padding: 5px;
}

/* Div que se ocupa para hacer el ancho scrollspy */
.containerDivisor{
    padding: 15px;
}

.container-fluid{
    padding: 25px;
}

h3{
    font-size: 40px;
    border-left:4px solid #353f52;
    padding-left: 10px;
}

/* Estilos por Seccion */
/* ******************* */

/* Slider / Carousel */
.carousel{
    margin-top: 56px;;
}

.imgBanne{
    margin-top: 60px;
}

.subTitle {
    width: 100%;
    font-size: 25px;
    color: #5c6e91;
}

.subTitle svg, .subTitle p{
    text-align: center;
    display: block;
}

.subTitle svg{
    margin-left: auto;
    margin-right: auto;
}

.subTitleServices{
    color: #102f81;
}

.card{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.171);
}

.bannerBck{
    background: #353f52;
    color: aliceblue;
}

.textBanner{
    font-size: 20px;
}

iframe{
    margin-top: 60px;
}

/* MEDIA QUERIES SECTION */
/*  */
/*  */
/*  */
/*  */
/*  */

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (max-width: 1400px) {
    .imgBanne{
        margin-top: 20px;
    }

    h3{
        font-size: 27px;
    }

    .containerDivisor{
        padding: 10px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
    .imgBanne{
        margin-top: 20px;
    }

    h3{
        font-size: 27px;
    }

    .containerDivisor{
        padding: 10px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .imgBanne{
        margin-top: 20px;
    }

    h3{
        font-size: 27px;
    }

    .containerDivisor{
        padding: 10px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {

    .subTitle svg, .subTitle p{
        text-align: left;
        display: inline;
    }

    .imgBanne{
        margin-top: 20px;
    }

    h3{
        font-size: 27px;
    }

    .containerDivisor{
        padding: 10px;
    }

    .btn {
        width: 100%;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {

    .subTitle svg, .subTitle p{
        text-align: left;
        display: inline;
    }
    
    .imgBanne{
        margin-top: 20px;
    }

    .containerDivisor{
        padding: 10px;
    }

    .btn {
        width: 100%;
    }


    .thyFrame{
        width: 100%; 
        height: 550px;
        border: 0px;
        margin: 30px 0px 0px 0px;
    }
}